*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: 'Roboto Condensed', sans-serif;
}
#container{
    width: 100%;
}
.banner-section{
    background-image: url(images/donate-img/donation13.jpg);
    width: 100%;
    height:650px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-section .banner-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #fff;

}
.banner-heading{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
.banner-span{
    color:#ff5959 ;
    font-size: 50px;
    font-weight: 700;

}
.banner-p{
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;
}
.banner-btn{
    padding: 15px 25px;
    background-color: #ff5959;
    border-radius: 5px;
    cursor: pointer;
}
.banner-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.donate-today{
    margin: 100px 0;
}
.donate-text-part{
    text-align: center;
    padding-bottom: 40px;
}
.donate-today .donate-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.donate-box .donate-amount{
    width: 200px;
    height: 200px;
    margin: 0 40px;
    padding-top: 80px;
    background-color:#ff5959;
    border-radius: 10px; 
    cursor: pointer;
    box-shadow: 5px 5px 5px   rgb(187, 187, 187);
}
.donate-box .donate-amount-3{
    width: 200px;
    height: 200px;
    margin: 0 40px;
    padding-top: 80px;
    background-color:#fff;
    color: #D35400;
    border: 2px solid #D35400;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 5px 5px 5px  rgb(187, 187, 187);
    cursor: pointer;
}

 .donate-text-part h1{
    font-size: 40px;
 }

 .donate-text-part p{
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0;

}
.donate-amount span{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    
}
.donate-other-amount{
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    color: #D35400;
    padding-right: 50px;
   
}
.donate{
    width: 100%;
    margin: 0 auto;
}
.donate-other-amount input{
    background-color: #f0f0f0;
    border-style: hidden;
    outline: none;
    width: 600px;
    padding-bottom: 15px;
    border-bottom: 1px solid #808B96;
    text-align: center;
    font-size: 20px;
}
.donate-other-amount ::placeholder{
    text-align: center;
    padding-left: 50px;
    padding-bottom: 20px;


}
.amount-btn{
  text-align: center;
  padding-top: 30px;
 
  
}
.amount-btn button{
    padding: 15px 30px;
    background-color: #ff5959;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.donation-section{
    margin: 50px 0;
    text-align: center;
}
.donation-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}
.donation-text h1{
    padding-bottom: 10px;
    font-weight: 700;
}

.donation-box-1{
    width: 350px;
    height: 350px;
    margin: 0 20px;
   background-image:  linear-gradient(90deg, rgba(32,79,25,1) 9%, rgba(9,118,121,1) 48%, rgba(0,181,255,1) 96%);;
    padding: 30px 30px 0 30px;
    text-align: justify;
    color: #fff;
    
}
.donation-box-2{
    width: 350px;
    height: 350px;
    margin: 0 20px;
    background-image: linear-gradient(90deg, rgba(20,232,215,1) 9%, rgba(26,121,9,1) 51%, rgba(0,146,255,1) 98%);
    padding: 30px 30px 0 30px;
    text-align: justify;
    color: #fff;
    
}
.donation-box-3{
    width: 350px;
    height: 350px;
    margin: 0 20px;
    background-image: linear-gradient(90deg, rgba(51,105,100,1) 0%, rgba(134,200,123,1) 43%, rgba(20,85,106,1) 98%);;
    padding: 30px 30px 0 30px;
    text-align: justify;
    color: #fff;
    
}
.donation-plan img{
    width: 80px;
}
.donation-heading{
    margin: 15px 0;

}
.donation-p{
    font-size: 16px;
}
.service-section{
    margin: 70px 0;
    width: 100%;
}
.service-heading{
    text-align: center;
    font-weight: 700;
    padding-bottom: 40px;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-box{
 width: 300px;
 height: 300px;
 background-color: #fff;
 border-radius: 20px;
 text-align: center;
 padding: 65px 15px;
 margin: 0 20px;
}
.service-box h2{
    padding-top: 15px;
}
.service-box-2{
 width: 300px;
 height: 300px;
 background-color: #fff;
 border-radius: 20px;
 box-shadow: 0px 20px 13px -3px rgba(0,0,0,0.31);
 text-align: center;
 padding: 20px 15px;
 margin: 0 20px;
}
.service-box-2 h2{
    padding-bottom: 15px;
}
.update-section{
    margin: 70px 0;
    width: 100%;
}
.update-heading{
    text-align: center;
}
.update-heading h1{
    padding-bottom: 20px;
}
.update-heading p{
    padding-bottom: 40px;
}
.Email-part{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.email-bg{
    background-color: #A3E4D7;
    width: 700px;
    height: 120px;
    margin: 0 auto;
    padding-top: 45px;
    border-radius: 5px;
    padding-right: 90px;
}
.email-bg .email{
    padding: 10px 50px;
    border-style: none;
    position: relative;
}
.email-bg .submit{
    padding: 10px 30px;
    border-spacing: 0;
    border-style: none;
    background-color: #ff5959;
    color: #fff;
    font-weight: 700;
    position: absolute;
    cursor: pointer;

}
.footer-section{
    width: 100%;
    height: 120px;
    margin-top: 100px;
    background-color: #212F3C;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}
.footer-section h1{
    color: #ff5959;
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 10px;
}
.footer-section p{
    color: #ddd;
    font-size: 12px;
    padding-top: 15px 0;
}
